.chat-container {
    width: 800px;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.chat-area {
    height: 600px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.message {
    margin: 5px 0;
}

.input-container {
    display: flex;
}

.input {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
}

.button {
    padding: 5px 10px;
}

.prompt{
    display: flex;
    justify-content: flex-start;
    padding: 3px;
}
.response{
    display: flex;
    justify-content: flex-end;
    padding: 3px;
}
.prompt-design{
    background-color: #dbdbdb;
    border-radius: 5px;
    padding: 5px;
}
.response-design{
    background-color: #bfddd7;
    border-radius: 5px;
    padding: 5px;
}

.logo
{    
    display: flex;
    justify-content: center;
}